@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    .campingpic {
      height: 400px;
    }
  }

  @media screen and (max-width: 600px) {
    .campingpic{
      height: 200px;
    }
  }